@use "../utils" as *;

/*----------------------------------------*/
/*  2.16 Back To Top
/*----------------------------------------*/

.progress-wrap {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	transition: all 200ms linear;

	.progress-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;

		svg {
			path {
				stroke: var(--td-secondary);
			}
		}
	}
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	z-index: 99;
}

.progress-wrap svg path {
	fill: none;
}
.progress-wrap svg.progress-circle path {
	stroke: var(--td-secondary);
	stroke-width: 4;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}
