@use "../utils" as *;

/*----------------------------------------*/
/*  2.1 Button
/*----------------------------------------*/
.primary-button {
  display: inline-flex;
  height: 40px;
  padding: 10px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--td-secondary);
  color: var(--td-white);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  transition: all 0.3s ease-in-out;

  @media #{$xs} {
    height: 40px;
    padding: 0px 24px;
    font-size: 14px;
  }

  &:hover {
    background: #da4f1d;
    color: var(--td-white);
  }

  &.xl-btn {
    height: 52px;
    padding: 0px 32px;
    font-size: 16px;

    @media #{$xs} {
      height: 42px;
      padding: 0px 24px;
      font-size: 14px;
    }
  }

  &.sm-btn {
    height: 32px;
    padding: 12px 18px;
    font-size: 14px;
  }

  &.md-btn {
    height: 36px;
    padding: 10px 20px;
    font-size: 14px;
  }

  &.reject-btn {
    background-color: #dc3545;
    color: var(--td-white);
  }

  &.green-button {
    background-color: #31b269;
    color: var(--td-white);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 0px 18px;
    transition: all 0.3s ease-in-out;

    span {
      display: flex;
      align-items: center;

      .chat-icon {
        font-size: 16px;
        color: var(--td-white);
      }
    }

    &:hover {
      background: #198754;
      color: var(--td-white);
    }
  }

  &.border-btn {
    border-radius: 8px;
    border: 1px solid rgba(48, 48, 48, 0.16);
    background: transparent;
    color: var(--td-secondary);

    &:hover {
      background: var(--td-secondary);
      color: var(--td-white);
    }
  }
  &.border-btn-secondary {
    border-radius: 8px;
    border: 1px solid var(--td-secondary);
    background: transparent;
    color: var(--td-secondary);

    &:hover {
      background: var(--td-secondary);
      color: var(--td-white);
    }
  }

  &.border-btn-2 {
    border-radius: 8px;
    border: 2px solid var(--td-secondary);
    background: transparent;
    color: var(--td-secondary);

    &:hover {
      background: var(--td-secondary);
      color: var(--td-white);
    }
  }

  &.ternary-button {
    background: var(--td-ternary);
    color: var(--td-primary);

    &:hover {
      background: var(--td-secondary);
      color: var(--td-white);
    }
  }
}

.secondary-button {
  display: flex;
  height: 40px;
  padding: 10px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--td-white);
  color: var(--td-heading);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;

  &:hover {
    background: var(--td-secondary);
    color: var(--td-white);
  }

  &.xl-btn {
    height: 52px;
    padding: 10px 32px;
    font-size: 16px;

    @media #{$xs} {
      height: 40px;
      padding: 10px 24px;
      font-size: 12px;
    }
  }
}

.view-all {
  color: var(--td-heading);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: lh(16, 16);
  position: relative;
  transition: all 0.3s ease-in-out;
  @media #{$xs} {
    font-size: 14px;
  }
  @media #{$sm} {
    font-size: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: var(--td-secondary);
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: var(--td-secondary);

    &::after {
      width: 100%;
    }
  }
}

.tag-btn {
  display: inline-flex;
  height: 27px;
  padding: 6px 8px;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  background: rgba(var(--td-secondary-rgb), 0.1);
  color: rgba(48, 48, 48, 0.8);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;

  span {
    display: flex;
    font-size: 14px;
    color: var(--td-secondary);
  }
}

.border-button {
  display: inline-flex;
  height: 30px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--td-secondary);
  background: rgba(255, 98, 41, 0.04);
  color: rgba(48, 48, 48, 0.8);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease-in-out;

  span {
    display: inline-flex;
    align-items: center;

    .chat-icon {
      font-size: 16px;
      color: var(--td-heading);
    }
  }

  &:hover {
    background: var(--td-secondary);
    color: var(--td-white);

    span {
      .chat-icon {
        color: var(--td-white);
      }
    }
  }

  &.xl-btn {
    height: 32px;
    border-radius: 8px;
    border: 1px solid rgba(48, 48, 48, 0.16);
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--td-secondary);
      border: 1px solid var(--td-secondary);
    }
  }
}

.custom-switch-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    p {
      color: var(--td-heading);
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
    }
  }
  .form-switch {
    padding-left: 0;
  }

  .form-check {
    padding-left: 0em;
    margin-bottom: 0rem;
  }

  .form-switch input[type="checkbox"]:checked {
    background-color: var(--td-secondary);
    border-color: var(--td-secondary);
  }
}

.no-data-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img-box {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: var(--td-heading);
  }
}
