@use "../../utils" as *;

/*----------------------------------------*/
/*  3.2.3 Category
/*----------------------------------------*/
.category-area {
  .category-all {
    .category-all-card {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 28px;

      @media #{$lg} {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
      }
      @media #{$md} {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }
      @media #{$xs} {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
      @media #{$sm} {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
      }
    }
  }
}
