@use "../../utils" as *;

/*----------------------------------------*/
/*  what i sell
/*----------------------------------------*/
.what-you-can-sell {
  .left {
    .all-what-can-sell-content {
      .content-box {
        margin-bottom: 30px;

        h5 {
          color: var(--td-heading);
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 10px;
        }

        p {
          color: rgba(48, 48, 48, 0.8);
          font-size: 16px;
          font-weight: 400;
          line-height: lh(26, 16);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .right {
    position: sticky;
    top: 200px;
    .image-box {
      width: 100%;
      height: 650px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}
