@forward "./about";
@forward "./hero";
@forward "./category";
@forward "./all-games";
@forward "./popular-seller";
@forward "./faq";
@forward "./ads-banner";
@forward "./product-details";
@forward "./checkout";
@forward "./seller-profile";
@forward "./blog-details";
@forward "./package";
@forward "./contact-us";
@forward "./auth";
@forward "./flash-sale";
@forward "./testimonial";
@forward "./what-i-sell";
