@forward "dashboard";
@forward "sidebar";
@forward "dashbaord-card";
@forward "main-page";
@forward "common-dashboard-table";
@forward "badge";
@forward "modal";
@forward "upload-system";
@forward "dashbaord-chat";
@forward "product-listing";
@forward "settings";
@forward "error-fix";
@forward "referral-program";
@forward "referrals-tree";
